@page
@model Alexis.Dashboard.Pages.Ad_CheckerMakerModel
@{
	ViewData["Title"] = "Advertisement Checker Maker";
	var tabEnumNames = Enum.GetNames(typeof(AdvTabGroup));
	var currentTabName = Enum.GetName(typeof(AdvTabGroup), Model.CurrentTab);
	string activateTabClass = Model.ActivateTab ?? "active";
	var showModal = TempData["ShowModal"] as bool?;
	var modalTitle = TempData["ModalTitle"]?.ToString();
	var modalMessage = TempData["ModalMessage"]?.ToString();
}
@section Styles {
	<link href="~/css/reporting/navtabs.css" rel="stylesheet" />
	<!-- Bootstrap 5-->
	<link href="~/css/bootstrap-5.0.2-dist/bootstrap.min.css" rel="stylesheet" />
	<script src="~/js/bootstrap-5.0.2-dist/bootstrap.bundle.min.js"></script>
	<style>
		a {
			color: inherit;
			text-decoration: inherit;
		}

			a:hover {
				color: inherit;
			}
	</style>
}

@using Alexis.Dashboard.Helper
@using Kendo.Mvc.UI
@Html.AntiForgeryToken()


<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid row align-items-center flex-wrap">
		<div class="col-12 col-lg-auto mb-2">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<!-- NavBar2: Right -->
		<div class="col-12 col-lg col-md d-flex flex-wrap align-items-center justify-content-lg-end justify-content-md-end" style="justify-content:flex-end">
			<!-- Refresh -->
			<button class="btn reportBtn theme_outline_only_btn" type="button" onclick="window.location.reload();">
				<i class="fa fa-refresh fa-sm pr-1"></i>Refresh </>
			</button>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">

	<!-- Reject Modal -->
	<div class="modal" id="myRejectModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Reject Confirmation</h4>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<input type="hidden" asp-for="EntityIdToReject" />
						<input type="hidden" asp-for="TargetTabToReject" />

						Are you sure that you want to reject the selected checker maker?

						<div class="my-3 font_medium" style="font-size: 14px; color: #5D5D5D;">
							Remarks &nbsp <i class="fa fa-asterisk text-danger" style="font-size: smaller;"></i>
						</div>
						<textarea class="form-control" asp-for="RejectRemarks" style="font-size:14px;height:130px;"></textarea>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn theme_outline_only_btn" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" asp-page-handler="ConfirmReject" class="btn theme_gradient_btn">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Decline Modal -->
	<div class="modal" id="myDeclineModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Decline Confirmation</h4>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<input type="hidden" asp-for="EntityIdToDecline" />
						<input type="hidden" asp-for="TargetTabToDecline" />

						Are you sure that you want to decline the selected checker maker?

						<div class="my-3 font_medium" style="font-size: 14px; color: #5D5D5D;">
							Remarks &nbsp <i class="fa fa-asterisk text-danger" style="font-size: smaller;"></i>
						</div>
						<textarea class="form-control" asp-for="RejectRemarks" style="font-size:14px;height:130px;"></textarea>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn theme_outline_only_btn" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" asp-page-handler="ConfirmDecline" class="btn theme_gradient_btn">Decline</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Approve Modal -->
	<div class="modal" id="myApproveModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Approve Confirmation</h4>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<input type="hidden" asp-for="EntityIdToApprove" />
						<input type="hidden" asp-for="TargetTabToApprove" />
						Are you sure that you want to approve the selected checker maker?
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn theme_outline_only_btn" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" asp-page-handler="ConfirmApprove" class="btn theme_gradient_btn">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Message Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header"><h4 class="modal-title">@modalTitle</h4></div>
				<!-- Modal body -->
				<div class="modal-body">@modalMessage</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn theme_gradient_btn" data-bs-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>


	<ul class="nav nav-tabs" id="myTab" role="tablist">
		@for (int i = 0; i < tabEnumNames.Length; i++)
		{
			var tabName = tabEnumNames[i];
			var isActive = currentTabName == tabName;
			var tabClass = "nav-link" + (isActive ? $" {activateTabClass}" : "");

			<li class="nav-item" role="presentation">
				<button class="@tabClass" id="tab_@tabName" data-bs-toggle="tab" data-bs-target="#@tabName" type="button" role="tab" aria-controls="@tabName" aria-selected="true">@tabName.Replace("_", " ")</button>
			</li>
		}
	</ul>

	<div class="tab-content" id="myTabContent">
		<!-- Tab 1 Content -->
		<div class="tab-pane fade @(Enum.GetName(typeof(AdvTabGroup), Model.CurrentTab) == Enum.GetName(typeof(AdvTabGroup), 1) ? activateTabClass : "")" id="Alert" role="tabpanel" aria-labelledby="tab_Advertisement">
			<div id="AdvertisementCreate">
				<div id="radGrid_Advertisement">
					@(Html.Kendo().Grid(Model.Ads)
												.Name("AdGrid")
												.HtmlAttributes(new { style = "width:100%;" })
												.ToolBar(t => t.Search())
												.Columns(columns =>
												{
													columns.Template(@<text>
						<div class="text-center">
							# if (AllowView) { #
							<span class="button" data-toggle="tooltip" title="View">
								<img src="~/img/0_Authentication/btn_view_password.png" alt="View" onclick="onViewClick('#= aID #')" />
							</span>
							# } #
							# if (AllowApprove) { #
							<img src="~/img/3_User%20Maintenance/line.png" style="padding: 0 5px;">
							<span class="button" data-toggle="tooltip" title="Edit" onclick="onApproveClick('Advertisement','#= aID #')">
								<img src="~/img/3_User%20Maintenance/btn_approve_green.png" alt="Edit" />
							</span>
							# } #
							# if (AllowReject) { #
							<img src="~/img/3_User%20Maintenance/line.png" style="padding: 0 5px;">
							<span class="button" data-toggle="tooltip" title="Reject" onclick="onRejectClick('Advertisement','#= aID #')">
								<img src="~/img/3_User%20Maintenance/btn_reject_red.png" alt="Reject" />
							</span>
							# } #
							# if (AllowDecline) { #
							<img src="~/img/3_User%20Maintenance/line.png" style="padding: 0 5px;">
							<span class="button" data-toggle="tooltip" title="Decline" onclick="onDeclineClick('Advertisement','#= aID #')">
								<img src="~/img/3_User%20Maintenance/btn_reject_red.png" alt="Reject" />
							</span>
							# } #
						</div>
					</text>).Title("Options").Width(150);
													columns.Bound(p => p.aDesc).Title("Advertisement Description").Sortable(true);
													columns.Bound(p => p.aDuration).Title("Duration (Min)").Sortable(true);
													columns.Bound(p => p.aCreatedDate).Title("Upload Date").Sortable(true).Format("{0:MM/dd/yyyy hh:mm:ss tt}");
													columns.Bound(p => p.Updatedby).Title("Updated By").Sortable(true);
													columns.Bound(p => p.aRelativePathUrl).Title("Directory").Sortable(true);
													columns.Bound(p => p.AdvertStatus)
													.Title("Advertisement Status")
													.ClientTemplate(
													"<div style='font-size: 0.85em;'>" +
													"<span class='#= AdvertStatus == \"Active\" ? \"status_active\" : (AdvertStatus == \"Pending\" ? \"status_pending\" : \"status_inactive\") #'>" +
													"#= AdvertStatus #" +
													"</span>" +
													"</div>"
													).Sortable(true);
												})
												.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
												.Sortable()
												.Search(s => { s.Field(o => o.aDesc, "contains"); })
												)
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			var showModal = '@(showModal?.ToString().ToLower() ?? "false")';
			if (showModal === "true") {
				$('#myModal').modal('show');
			}
		});

		function onRejectClick(tabCategory, entityId) {
		document.getElementById('TargetTabToReject').value = tabCategory;
		document.getElementById('EntityIdToReject').value = entityId;
		$("#myRejectModal").modal('show');
		return false;
		}

		function onDeclineClick(tabCategory, entityId) {
		document.getElementById('TargetTabToDecline').value = tabCategory;
		document.getElementById('EntityIdToDecline').value = entityId;
		$("#myDeclineModal").modal('show');
		return false;
		}

		function onApproveClick(tabCategory, entityId) {
		document.getElementById('TargetTabToApprove').value = tabCategory;
		document.getElementById('EntityIdToApprove').value = entityId;
		$("#myApproveModal").modal('show');
		return false;
		}

		function onViewClick(entityId) {
		$.ajax({
		url: "@Url.Page("/KioskManagement")?handler=View",
		method: "GET",
		success: function (data) {
		if(data.message == 'Success'){
			const baseUrl = '@Url.Content("~/Compare")';
			window.location.href = baseUrl + "?id=" + entityId;
		}
		else
		{
		alert(data.message);
		}
		}
		})
		}

		function onDetail8Expand(e) {
			var grid = $("#GroupMaintenanceGrid").data("kendoGrid");
			grid.tbody.find("tr.k-master-row").each(function () {
			var row = $(this);
			if (row[0] !== e.masterRow[0]) {
			grid.collapseRow(row);
			}
			});
		}

		function onDetail5Expand(e) {
		var grid = $("#KioskMaintenanceGrid").data("kendoGrid");
		grid.tbody.find("tr.k-master-row").each(function () {
		var row = $(this);
		if (row[0] !== e.masterRow[0]) {
		grid.collapseRow(row);
		}
		});
		}
	</script>
}

