@page
@model Alexis.Dashboard.Pages.MDMAndroid.ProfileModel
@{
	ViewData["Title"] = "Profile Management";
}
@using Kendo.Mvc.UI
@Html.AntiForgeryToken()
<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid row align-items-center flex-wrap">
		<div class="col-12 col-lg-auto mb-2">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<!-- NavBar2: Right -->
		<div class="col-12 col-lg col-md d-flex flex-wrap align-items-center justify-content-lg-end justify-content-md-end" style="justify-content:flex-end">
			<!-- Refresh -->
			<button class="btn reportBtn theme_outline_only_btn" type="button" onclick="window.location.reload();"><i class="fa fa-refresh fa-sm"></i> Refresh </></button>
			<!-- Add New -->
			<button class="btn reportBtn theme_gradient_btn" type="button" onclick="onAddClick()"><i class="fa fa-plus"> </i> Add New</button>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">
	
	<!-- Grid -->
	@(Html.Kendo().Grid(Model.Profiles)
		.Name("ProfileGrid")
		.Columns(columns =>
		{
			columns.Template(@<text>
		<div class="text-center">
			<span class="button" data-toggle="tooltip" title="Edit" onclick="onEditClick('#= PRID #')">
				<img src="~/img/3_User%20Maintenance/icon_edit_grey.png" alt="Edit" />
			</span>
		</div>
	</text>).Title("Options").Width(100);
			columns.Bound(p => p.PROFILE_NAME).Title("Profile Name");
			columns.Bound(p => p.CREATED_ON).Title("Last Created").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
			columns.Bound(p => p.FPATH).Title("File Path");
		})
		.ToolBar(t => t.Search())
		.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
		.Scrollable(s => s.Height("calc(80vh - 200px)"))
		.HtmlAttributes(new { style = "margin: 0 15px;" })
		.Sortable()
		.Search(s => { s.Field(o => o.PROFILE_NAME, "contains"); })
		.Events(e => e.DataBound("onGridDataBound"))
		)
</div>

@section Scripts {
	<script type="text/javascript">
		
		function onEditClick(id) {
			$.ajax({
					url: "@Url.Page("/Profile")?handler=Edit",
					method: "POST",
					data: { id: id },
					headers: {RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()},
					success: function (data) {
						if(data.message == 'Success'){
							window.location.href = "@Url.Content("~/MDMAndroid/ProfileAdd")";
						}
						else
						{
							alert(data.message);
						}
					}
				})
		}

		function onAddClick() {
			$.ajax({
					url: "@Url.Page("/Profile")?handler=Add",
					method: "GET",
					success: function (data) {
						if(data.message == 'Success'){
							window.location.href = "@Url.Content("~/MDMAndroid/ProfileAdd")";
						}
						else
						{
							alert(data.message);
						}
					}
				})
		}
	</script>
}