@page
@model Alexis.Dashboard.Pages.MDMAndroid.ProfileAddModel
@{
	ViewData["Title"] = Model.PageTitleText;
	var idx = 0;
	var showModal = TempData["ShowModal"] as bool?;
	var modalTitle = TempData["ModalTitle"]?.ToString();
	var modalMessage = TempData["ModalMessage"]?.ToString();
}

@using Alexis.Dashboard.Models
@using Kendo.Mvc.UI

<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid">
		<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
			<label id="LabelTitle">@ViewData["Title"]</label>
		</div>
	</div>
</nav>



<!--Main Content-->
<div class="contentRoot navbar navbar-default">
	<!-- Message Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header"><h4 class="modal-title">@modalTitle</h4></div>
				<!-- Modal body -->
				<div class="modal-body">@modalMessage</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<a href="~/MDMAndroid/Profile" class="btn theme_gradient_btn">OK</a>
				</div>
			</div>
		</div>
	</div>
	<form method="post" action="">
		<table>
			<tr>
				<td>
					<div class="rounded_corners" style="min-width: 500px; max-width: 966px;">
						<div style="padding: 25px; background-color: white">
							<div id="labelNormal" style="padding: 10px;">
								<label class="labelNormal font_demi">Profile Details</label>

								<table class="oneWhite">
									<tr>
										<td style="width: 30%"><label class="labelMedium">Profile Name</label></td>
										<td>
											: <input type="text" asp-for="ProfileName" class="textBoxEmerico" style="border-color:#E3E3E3;border-width:1px;border-style:solid;width:95%;font-size: 14px; color: #5D5D5D; padding: 6px; border-radius: 5px;" />
											<br />
											<span asp-validation-for="ProfileName" style="color: red;"></span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<br />
					<div class="rounded_corners" style="min-width: 500px; max-width: 966px;">
						<div style="padding: 25px; background-color: white">
							<div id="labelNormal1" style="padding: 10px;">
								<label class="labelNormal font_demi">Restriction Information</label>

								<table class="oneWhite" style="padding: 50px">
									<tbody>
										<tr>
											<td style="width:30%">
												<div id="TwoColumnDiv">
													<div id="ContentPlaceHolder1_panel2">

														<div>
															<table cellspacing="0" rules="all" id="ContentPlaceHolder1_grvUAC" style="border-width:0px;border-collapse:collapse;margin-left: 15%">
																<tbody>
																	@foreach (ProfileRestrictionsViewModel item in Model.ProfileRestrictions)
																	{
																		<tr>
																			<td>
																				<label class="switch">
																					<input type="checkbox" asp-for="@Model.ProfileRestrictions[idx].ACTIVE" />
																					<span class="slider round"></span>
																				</label>
																			</td>
																			<td>
																				<span id="@item.DESCRIPTION">@item.DESCRIPTION</span>
																				<input type="hidden" asp-for="@Model.ProfileRestrictions[idx].RESTRICTION_ID">
																				<input type="hidden" asp-for="@Model.ProfileRestrictions[idx].DESCRIPTION">
																			</td>
																			<td>
																				<div id="ContentPlaceHolder1_grvUAC_breakPanel_@idx">
																				</div>
																			</td>
																		</tr>
																		idx++;
																	}

																</tbody>
															</table>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="text-center pt-3">
								<input type="hidden" asp-for="PRID" />
								<input type="button" value="Back" id="btn_cancel" class="mx-2 btn theme_outline_only_btn" onclick="onCancelClick()">
								<input type="submit" value="Confirm" class="mx-2 btn theme_gradient_btn"/>
							</div>
						</div>
					</div>
				</td>
			</tr>



		</table>
	</form>
</div>
@section Styles{
	<style>
		#TwoColumnDiv {
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
		}
	</style>
}
@section Scripts {
	<script type="text/javascript">
		function onCancelClick() {
			$.ajax({
					url: "@Url.Page("/ProfileAdd")?handler=Cancel",
					method: "GET",
					success: function (data) {
						if(data.message == 'Success'){
							window.location.href = "@Url.Content("~/MDMAndroid/Profile")";
						}
						else
						{
							alert(data.message);
						}
					}
				})
		}

		$(document).ready(function () {
			var showModal = '@(showModal?.ToString().ToLower() ?? "false")';
			if (showModal === "true") {
				$('#myModal').modal('show');
			}
		});
	</script>
}


