@page
@model Alexis.Dashboard.Pages.Report.AuditTrail_SystemModel
@{
	ViewData["Title"] = "System > System Audit Trail";
}
@using Kendo.Mvc.UI
<form method="post">
	<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
		<div class="container-fluid">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<div id="divNavBar2Addition" class="container-fluid row align-items-center flex-wrap">
			<!-- Filter Action Pass/Fail -->
			<div class="col-12 col-md-4 mb-2">
				<div class="dropdown">
					<button class="btn reportBtn theme_outline_only_btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-filter" aria-hidden="true"></i>
						<span id="selectedFilterLabel">@Model.FilterStatus</span>
					</button>
					<div class="dropdown-menu theme_outline_only" aria-labelledby="dropdownMenuButton">
						<button type="submit" id="FilterPassBtn" name="FilterPassBtn" class="dropdown-item" value="2">All</button>
						<button type="submit" id="FilterPassBtn" name="FilterPassBtn" class="dropdown-item" value="1">Pass</button>
						<button type="submit" id="FilterPassBtn" name="FilterPassBtn" class="dropdown-item" value="0">Fail</button>
					</div>
				</div>
			</div>
			<!-- Date Picker and Buttons -->
			<div class="col-12 col-md-8 d-flex flex-wrap justify-content-md-end">
				<div class="d-flex align-items-center m-1">
					<label class="labelBook mr-2 mb-0">Date From:</label>
					<kendo-datepicker name="MinDate" format="MM/dd/yyyy" placeholder="MM/dd/yyyy" value="@Model.MinDate" style="height:40px;"></kendo-datepicker>
				</div>
				<div class="d-flex align-items-center m-1">
					<label class="labelBook mr-2 mb-0">To:</label>
					<kendo-datepicker name="MaxDate" format="MM/dd/yyyy" placeholder="MM/dd/yyyy" value="@Model.MaxDate" style="height:40px;"></kendo-datepicker>
				</div>
				<div class="d-flex align-items-center m-1">
					<label class="labelBook text-danger small mb-0">@Model.ErrorText</label>
				</div>
				<div class="d-flex align-items-center m-1">
					<button class="btn reportBtn theme_outline_only_btn" type="submit">
						<i class="fa fa-spinner fa-sm"></i> Generate
					</button>
				</div>
				<div class="d-flex align-items-center m-1">
					<button class="btn reportBtn theme_outline_only_btn" asp-page-handler="Clear" type="submit">
						<i class="fa fa-refresh fa-sm"></i> Refresh
					</button>
				</div>
			</div>
		</div>		
	</nav>

	<div class="contentRoot navbar navbar-default">
		<!-- Grid -->
		@(Html.Kendo().Grid(Model.AuditRecords)
				.Name("AuditGrid")
				.Columns(columns =>
				{
					columns.Bound(c => c.Module).Title("Module").Sortable(true);
					columns.Bound(c => c.Description).Title("Description").Sortable(true);
					columns.Bound(c => c.Action).Title("Action").Sortable(true);
					columns.Bound(c => c.Status2).Title("Status").Sortable(true);
					columns.Bound(c => c.SourceIP).Title("Source IP").Sortable(true);
					columns.Bound(c => c.DestinationIP).Title("Destination IP").Sortable(true);
					columns.Bound(c => c.Executed).Title("Executed By").Sortable(true);
					columns.Bound(c => c.Audit_Date).Title("Audit Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}").Sortable(true);
				})
				.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); })
				.Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
				.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
				.Scrollable(s => s.Height("calc(80vh - 200px)"))
				.HtmlAttributes(new { style = "margin: 0 15px;" })
				.Sortable()
				.Search(s =>
				{
					s.Field(o => o.Module, "contains");
					s.Field(o => o.Description, "contains");
					s.Field(o => o.Action, "contains");
					s.Field(o => o.Status2, "contains");
					s.Field(o => o.SourceIP, "contains");
					s.Field(o => o.DestinationIP, "contains");
					s.Field(o => o.Executed, "contains");
					s.Field(o => o.Audit_Date, "contains");
				})
				.Events(e => e.DataBound("onGridDataBound"))
				)
	</div>
</form>

@section Scripts{
	@* <script>
		document.querySelectorAll('.dropdown-item').forEach(function(item) {
			item.addEventListener('click', function () {
				const selectedText = this.textContent;
				document.getElementById('selectedFilterLabel').textContent = selectedText;
			});
		});
	</script> *@
}