@page
@model Alexis.Dashboard.Pages.Report.DeviceListing.iOSModel
	
@using Alexis.Dashboard.Helper
@{
		ViewData["Title"] = "iOS MDM > iOS MDM Listing";
	var tabEnumNames = Enum.GetNames(typeof(DeviceListingTabGroup));
	var currentTabName = Enum.GetName(typeof(DeviceListingTabGroup), Model.CurrentTab);
	string activateTabClass = Model.ActivateTab ?? "active";
	var showModal = TempData["ShowModal"] as bool?;
	var modalTitle = TempData["ModalTitle"]?.ToString();
	var modalMessage = TempData["ModalMessage"]?.ToString();
}
@section Styles {
	<link href="~/css/reporting/navtabs.css" rel="stylesheet" />
	<!-- Bootstrap 5-->
	<link href="~/css/bootstrap-5.0.2-dist/bootstrap.min.css" rel="stylesheet" />
	<script src="~/js/bootstrap-5.0.2-dist/bootstrap.bundle.min.js"></script>
	<style>
		a {
			color: inherit;
			text-decoration: inherit;
		}

			a:hover {
				color: inherit;
			}
	</style>
}
@using Kendo.Mvc.UI
@Html.AntiForgeryToken()

<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid row align-items-center flex-wrap">
		<div class="col-12 col-lg-auto mb-2">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<!-- NavBar2: Right -->
		<div class="col-12 col-lg col-md d-flex flex-wrap align-items-center justify-content-lg-end justify-content-md-end" style="justify-content:flex-end">
			<!-- Refresh -->
			<button class="btn reportBtn theme_outline_only_btn" type="button" onclick="window.location.reload();"><i class="fa fa-refresh fa-sm"></i> Refresh </></button>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		@for (int i = 0; i < tabEnumNames.Length; i++)
		{
			var tabName = tabEnumNames[i];
			var isActive = currentTabName == tabName;
			var tabClass = "nav-link" + (isActive ? $" {activateTabClass}" : "");

			<li class="nav-item" role="presentation">
				<button class="@tabClass" id="tab_@tabName" data-bs-toggle="tab" data-bs-target="#@tabName" type="button" role="tab" aria-controls="@tabName" aria-selected="true" onclick="onGridClick('@tabName')">@tabName.Replace("_", " ")</button>
			</li>
		}
	</ul>

	<div class="tab-content" id="myTabContent">
		<!-- Tab 1 Content -->
		<div class="tab-pane fade @(Enum.GetName(typeof(DeviceListingTabGroup), Model.CurrentTab) == Enum.GetName(typeof(DeviceListingTabGroup), 1) ? activateTabClass : "")" id="Devices" role="tabpanel" aria-labelledby="tab_Devices">
			@(Html.Kendo().Grid(Model.Devices)
						.Name("DevicesGrid")
						.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); }).Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
						.Columns(columns =>
						{
							columns.Bound(c => c.MachineName).Title("Device Name");
							columns.Bound(c => c.bDesc).Title("Device Group");
							columns.Bound(c => c.Status).Title("Status");
							columns.Bound(c => c.MachineImei).Title("Device IMEI");
							columns.Bound(c => c.MachineSerial).Title("Device Serial No.");
							columns.Bound(c => c.BuildVersion).Title("Build Version");
							columns.Bound(c => c.OSVersion).Title("OS Version");
							columns.Bound(c => c.AvailableSpace).Title("Available Space");
							columns.Bound(c => c.PasscodePresent).Title("Has Passcode");
							columns.Bound(c => c.PasscodeCompliant).Title("Passcode Compliant");
							columns.Bound(c => c.PasscodeCompliantWithProfiles).Title("Passcode Compliant With Profiles");
							columns.Bound(c => c.WifiMAC).Title("WiFi MAC");
							columns.Bound(c => c.BluetoothMAC).Title("Bluetooth MAC");
							columns.Bound(c => c.IsRoaming).Title("Has Roaming");
							columns.Bound(c => c.isSupervised).Title("Device Supervised");
							columns.Bound(c => c.CertListing).Title("Certificate Listing").ClientTemplate("#= CertListing #");
							columns.Bound(c => c.FirmwareVersion).Title("Firmware Version");
							columns.Bound(c => c.FirmwareBatteryStatus).Title("Firmware Battery Status");
							columns.Bound(c => c.FirmwareBatteryLevel).Title("Firmware Battery Level");
							columns.Bound(c => c.FirmwareSerial).Title("Firmware Serial");
							columns.Bound(c => c.Location).Title("Lat,Long");
						})
						.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
						.Sortable()
						.Scrollable(s => s.Height("calc(80vh - 200px)"))
						.HtmlAttributes(new { style = "margin: 0 15px;" })
						.Search(s =>
						{
							s.Field(o => o.MachineName, "contains");
						})
						.Events(e => e.DataBound("onGridDataBound"))
						)
		</div>

		<!-- Tab 2 Content -->
		<div class="tab-pane fade @(Enum.GetName(typeof(DeviceListingTabGroup), Model.CurrentTab) == Enum.GetName(typeof(DeviceListingTabGroup), 2) ? activateTabClass : "")" id="Device_Groups" role="tabpanel" aria-labelledby="tab_Device_Groups">
			@(Html.Kendo().Grid(Model.DeviceGroups)
						.Name("DeviceGroupsGrid")
						.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); }).Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
						.Columns(columns =>
						{
							columns.Bound(c => c.bDesc).Title("Device Group Name");
							columns.Bound(c => c.bOpenTime).Title("Open Time");
							columns.Bound(c => c.bCloseTime).Title("Close Time");
							columns.Bound(c => c.bMonday).Title("Monday");
							columns.Bound(c => c.bTuesday).Title("Tuesday");
							columns.Bound(c => c.bWednesday).Title("Wednesday");
							columns.Bound(c => c.bThursday).Title("Thursday");
							columns.Bound(c => c.bFriday).Title("Friday");
							columns.Bound(c => c.bSaturday).Title("Saturday");
							columns.Bound(c => c.bSunday).Title("Sunday");
						})
						.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
						.Scrollable(s => s.Height("calc(80vh - 200px)"))
						.HtmlAttributes(new { style = "margin: 0 15px;" })
						.Sortable()
						.Search(s =>
						{
							s.Field(o => o.bDesc, "contains");
						})
						.Events(e => e.DataBound("onGridDataBound"))
						)
		</div>

		<!-- Tab 3 Content -->
		<div class="tab-pane fade @(Enum.GetName(typeof(DeviceListingTabGroup), Model.CurrentTab) == Enum.GetName(typeof(DeviceListingTabGroup), 3) ? activateTabClass : "")" id="Applications" role="tabpanel" aria-labelledby="tab_Applications">
			@(Html.Kendo().Grid(Model.ApplicationInfo)
						.Name("ApplicationInfoGrid")
						.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); }).Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
						.Columns(columns =>
						{
							columns.Bound(c => c.Name).Title("App Name");
							columns.Bound(c => c.Desc).Title("Description");
							columns.Bound(c => c.Version).Title("Version");
							columns.Bound(c => c.Path).Title("Folder Path");
							columns.Bound(c => c.Identifier).Title("Identifier");
							columns.Bound(c => c.ExpirationDate).Title("Expiration Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
							columns.Bound(c => c.CreatedDate).Title("Created Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
						})
						.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
						.Scrollable(s => s.Height("calc(80vh - 200px)"))
						.HtmlAttributes(new { style = "margin: 0 15px;" })
						.Sortable()
						.Search(s =>
						{
							s.Field(o => o.Name, "contains");
						})
						.Events(e => e.DataBound("onGridDataBound"))
						)
		</div>

		<!-- Tab 4 Content -->
		<div class="tab-pane fade @(Enum.GetName(typeof(DeviceListingTabGroup), Model.CurrentTab) == Enum.GetName(typeof(DeviceListingTabGroup), 4) ? activateTabClass : "")" id="Profiles" role="tabpanel" aria-labelledby="tab_Profiles">
			@(Html.Kendo().Grid(Model.ProfileInfo)
						.Name("ProfileInfoGrid")
						.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); }).Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
						.Columns(columns =>
						{
							columns.Bound(c => c.Name).Title("Profile Name");
							columns.Bound(c => c.Profile_APNS_Path).Title("Folder Path");
						})
						.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
						.Scrollable(s => s.Height("calc(80vh - 200px)"))
						.HtmlAttributes(new { style = "margin: 0 15px;" })
						.Sortable()
						.Search(s =>
						{
							s.Field(o => o.Name, "contains");
						})
						.Events(e => e.DataBound("onGridDataBound"))
						)
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		function onGridClick(name) {
			$.ajax({
					url: "@Url.Page("/iOS")?handler=ChangeGrid",
					method: "POST",
					data: { name: name },
					headers: {RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()},
					success: function (data) {
							window.location.reload();
					}
				})
		}

	</script>
}